<div class="modal" id="spinnerModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="spinner-border text-success">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>