<div class="tab-pane container" id="comorbidity-table-pane">
    <table id="comorbidity-datatable" class="table table-bordered" data-source="<%= datatables_comorbidity_path(format: :json, :project_id => @current_project.id) %>">
        <thead>
            <tr>
                <th>ID</th>
                <th>HLAC19_ID</th>
                <th>Origin Identifier</th> 
                <th>HIV</th>
                <th>CD4 cell count</th>
                <th>HIV load</th>
                <th>Immunocompromised</th>
                <th>Organ transplant</th>
                <th>Organ transplant type</th>
                <th>Bone marrow transplant</th>
                <th>Autoimmune rheum disease</th>
                <th>Diabetes type 1</th>
                <th>Diabetes type 2</th>
                <th>Asthma</th>
                <th>COPD</th>
                <th>Cycstic fib</th>
                <th>Liver disease</th>
                <th>Gallbladder disease</th>
                <th>Pancreas disease</th>
                <th>Angio coronary intervention</th>
                <th>Artery bypass</th>
                <th>Cong heart failure</th>
                <th>Hypertension</th>
                <th>Infarction type 1</th>
                <th>Infarction type 2</th>
                <th>Peri vascular dis</th>
                <th>Stroke</th>
                <th>Arythmia</th>
                <th>Dementia</th>
                <th>Neur disease</th>
                <th>Leukemia</th>
                <th>Lymphoma</th>
                <th>Malignant solid tumor</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
