<div class="tab-pane container" id="kir-table-pane">
    <table id="kir-datatable" class="table table-bordered" data-source="<%= datatables_kir_path(format: :json, :project_id => @current_project.id) %>">
        <thead>
            <tr>
                <th>ID</th>
                <th>HLAC19 ID</th>
                <th>Origin Identifier</th> 
                <th>k2dl4_1</th>
                <th>k2dl4_2</th>
                <th>k2dl23_1</th>
                <th>k2dl23_2</th>
                <th>k3dl1s1_1</th>
                <th>k3dl1s1_2</th>
                <th>k3dl2_1</th>
                <th>k3dl2_2</th>
                <th>k3dl3_1</th>
                <th>k3dl3_2</th>
                <th>k2dl1_1</th>
                <th>k2dl1_2</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
