<div class="tab-pane container" id="labtest-table-pane">
    <table id="labtest-datatable" class="table table-bordered" data-source="<%= datatables_labtest_path(format: :json, :project_id => @current_project.id) %>">
        <thead>
            <tr>
                <th>ID</th>
                <th>HLAC19 ID</th>
                <th>Origin Identifier</th> 
                <th>Blood type</th>
                <th>Rh factor</th>
                <th>WBC</th>
                <th>Lymphocytes</th>
                <th>Neutrophils</th>
                <th>Monocytes</th>
                <th>Eosinophils</th>
                <th>Basophils</th>
                <th>CRP</th>
                <th>Trop i</th>
                <th>Trop t</th>
                <th>BNP</th>
                <th>IDH</th>
                <th>AST</th>
                <th>ALT</th>
                <th>Bilirubin</th>
                <th>GGT</th>
                <th>ALP</th>
                <th>D dimer</th>
                <th>Il6</th>
                <th>Tumor necrosis factor</th>
                <th>Serum femtin</th>
                <th>Hba1c</th>
                <th>Cholesterol</th>
                <th>Triglycerides</th>
                <th>HDL</th>
                <th>LDL</th>
                <th>Ace</th>
                <th>Ace2r</th>
                <th>Hemoglobin</th>
                <th>Amylase</th>
                <th>Lipase</th>
                <th>Urea</th>
                <th>Creatinine</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
