<div class="tab-pane container" id="c19-symptoms-table-pane">
    <table id="c19-symptoms-datatable" class="table table-bordered" data-source="<%= datatables_c19_symptoms_path(format: :json) %>">
        <thead>
            <tr>
                <th>Dry Cough</th>
                <th>Mucus Cough</th>
                <th>Days Cough</th>
                <th>Difficulty Breathing</th>
                <th>Fever</th>
                <th>Highest Temp</th>
                <th>Days Fever</th>
                <th>Fatigue</th>
                <th>Pain Chest/Heart</th>
                <th>Pain Back</th>
                <th>Runny Nose</th>
                <th>Sore Throat</th>
                <th>Loss Taste/Smell</th>
                <th>Diarrhea</th>
                <th>Nausea</th>
                <th>Other Symptoms</th>
                <th>C19 Test Result Pos</th>
                <th>Type C19 Test</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>