<div class="tab-pane container" id="comborbidity-table-pane">
    <table id="comorbidity-datatable" class="table table-bordered" data-source="<%= datatables_comorbidity_path(format: :json) %>">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>