<div class="tab-pane container" id="hla-table-pane">
    <table id="hla-datatable" class="table table-bordered" data-source="<%= datatables_hla_path(format: :json) %>">
        <thead>
            <tr>
                <th>DRB1_1</th>
                <th>DRB1_2</th>
                <th>DQB1_1</th>
                <th>DQB1_2</th>
                <th>DPB1_1</th>
                <th>DPB1_2</th>
                <th>A_1</th>
                <th>A_2</th>
                <th>B_1</th>
                <th>B_2</th>
                <th>C_1</th>
                <th>C_2</th>
                <th>DPA1_1</th>
                <th>DPA1_2</th>
                <th>DQA1_1</th>
                <th>DQA1_2</th>
                <th>DRBo_1</th>
                <th>DRBo_2</th>
                <th>DRB345_1</th>
                <th>DRB345_2</th>
                <th>Reference DB</th>
                <th>Reference DB Version</th>
                <th>Typing Method</th>
                <th>Typing Method Version</th>
                <th>GL String</th>
                <th>Novel Polymorphisms</th>
                <th>Pop.</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
