<div class="tab-pane container" id="labtest-table-pane">
    <table id="labtest-datatable" class="table table-bordered" data-source="<%= datatables_labtest_path(format: :json) %>">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>