<div class="tab-pane container" id="riskfactor-table-pane">
    <table id="riskfactor-datatable" class="table table-bordered" data-source="<%= datatables_riskfactor_path(format: :json) %>">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>