/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

 #home-page-card {
    background-image: image_url("coronavirus-banner2.png");
    min-height:350px;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  #home-page-card-header {
    top:5px;
    font-family: sans-serif;
    font-size:72pt;
    font-weight:bold;
    color:white;
  }
  .session-link {
      color:white;
      font-size:16pt;
      margin-left:15px;
  }
  .menu-link {
    color:black;
    font-size:16pt;
  }
  #title-placement-box {
    margin-top:50px;
    margin-left:50px;
  }
  #title-text {
    font-size:60pt;
    color:white;
  }
  .btn-trans {
    background-color:transparent;
  }
  #main-dropdown-button-text {
    color:white;
    font-size:16pt;
  }
  .dropdown-menu {
    width:100% !important;
  }
  .dropdown-list-item {
    margin-left:20px;
  }
  #log-in-form {
    width:100%;
    border:1px solid lightgrey;
    border-radius:4px;
  }
  #registration-form {
    border-radius:4px;
    border:1px solid lightgrey;
  }
